body{
    background-color: rgba(199, 198, 245,0.8);
    padding: 150px;
}

.container{
    height: 130px;
    width: 300px;
    border: 2px groove rgba(64, 59, 56,0.8);
    border-radius: 35px;
    box-shadow: 0px 0px 10px black;
}

h1{
    font-style: italic;
    color: #222;
}

#clock{
    font-size:30px;
    font-family: sans-serif;
}