.main{
    min-height: 70vh;
    display:grid;
    place-items: center;


}



#btn1{
    background-color: rgb(85, 81, 81);
    color: aliceblue;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    border: 3px solid rgb(133, 128, 128);
}


#btn2{
    background-color: rgb(210, 190, 190);
    color: rgb(17, 18, 18);
    border-radius: 50px;
    height: 50px;
    width: 100px;
}

h1{
    color: rgb(30, 0, 255);
    border: 1px solid black;
    padding: 10px;
    border: 2px solid red;
    
}

h1:hover{
    background-color: rgb(240, 210, 153);

}

.cont{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    height: 10px;
}

#btn1:hover{
    background-color: #0c0c0c;

}

#btn2:hover{
    background-color: #faf7f7;

}