main{
    min-height: 100vh;
    display: grid;
    place-items: center;

}
.container{
    text-align: center;
}
.container.h1{
    background-color:#222;
    color: white;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
}
#btn{
    text-transform: uppercase;
    background:transparent;
    color: #222;
    font-weight: 700;
    border: 2px solid #222;
    border-radius: 10px;
    padding: 8px;
}
#btn:hover{
    color: #FFFF;
    background-color: #222;
}